openai==1.77.0
setuptools
wheel
pycryptodome
pycryptodomex
pywin32
silk-python
pyaudio
requests
pyahocorasick
lz4
blackboxprotobuf
lxml
dbutils
psutil
pymem
pydantic==2.7.0
fastapi
uvicorn
python-dotenv
